// font-family: 'Libre Baskerville', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Hind Madurai', sans-serif;


$blk: #000000;
$wht: #ffffff;

body {
    color: $blk;
    background-color: &wht;
    font-family: 'Lato', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: $wht;
}


.header-left {
    padding-left: 1rem;
    .header-name {
        font-size: 1.7rem;
        font-weight: 900;
        color: $blk;
    }
}
.header-right {
    padding-right: 1rem;
            color: $blk;
    a {
        font-family: 'Lato', sans-serif;
            color: $blk;

    }
}
